<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <title>About TL;DR CNBC</title>
    <h1>About</h1>
    <p>TL;DR CNBC scrapes and anlyzes articles published on CNBC</p>
    <p>For each article, there will be: 
        <ul>
            <li>a summary with less than 150 words so that the reading time is less than 30 seconds, helping readers get the main ideas of the articles in the fastest way possible.
            <li>a sentiment descryption (POSITVIE/NEGATIVE/NEUTRAL/MIXED)
            <li>and a list of keywords mentioned in the article
        </ul>
    </p>
    <br>
    <div align=center>
        <a href="/">Go Back</a>
    </div>
    <p style="padding-left:1%">Leo Phan ® 2023</p>
</body>
</html>