{% extends "base.html" %}

{% set bgcolor = '#FFFFFF'%}
{% if article['sentiment']['Sentiment'] == 'POSITIVE' %}
    {% set bgcolor = 'rgb(144,238,144)' %}
{% elif article['sentiment']['Sentiment'] == 'NEGATIVE' %}
    {% set bgcolor = 'rgb(240,128,128)' %}
{% elif article['sentiment']['Sentiment'] == 'MIXED' %}
    {% set bgcolor = 'rgb(245,222,179)' %}
{% elif article['sentiment']['Sentiment'] == 'NEUTRAL' %}
    {% set bgcolor = 'powderblue' %}
{% endif %}

{% block content %}
    <title>{{article['title']}}</title>
    <style>
        .div_box {
          border: 5px outset #115097;
          background-color: whitesmoke;
          width: 70%;  
          height: 70%;
          text-align: left;
        }

        body {
            background-color: {{bgcolor}}
        }
    </style>
    <div align="middle">
        <div class="div_box">
            <div style="padding-right:5%; padding-left:5%">
                <h2>{{article['title']}}</h2>
                <p style="color: grey; font-size: 11px;">Publishing timestamp: {{article['publish_timestamp']}}</p><br>
                <u>Summary</u>
                <p>{{article['sentiment']['Tldr']}}</p>
                <br>
                <p>Sentiment: <span style="font-weight: bold;">{{article['sentiment']['Sentiment']}}</span></p>
                <p>Tickers:
                    {% for ticker in article['tickers'] %}
                        <a href="/ticker/{{ticker}}">{{ticker}}</a>,&nbsp;
                    {% endfor %} </p>
                <p>Keywords:
                {% for keyword in article['keywords'] %}
                    <span style="font-style: italic;"><a href='/keyword/{{keyword}}'>{{keyword}}</a></span>,&nbsp;
                {% endfor %} </p>

                <p> Source: <a href="{{article['news_url']}}" target="_blank" rel="noopener noreferrer">{{article['news_url']}}</a></p>
                <div align="center">
                    <!-- <button onclick="window.location.href='/home';" style="font-size:13px; display: inline-block; font-style:bold;">Go Back</button> -->
                    <button onclick="history.back();" style="font-size:13px; display: inline-block; font-style:bold;">Go Back</button>
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}