<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/styles.css" rel="stylesheet"type="text/css" />
</head>
<body>
    <span><a href="/">Home</a>&emsp;<a href="/about">About</a></span>
    <!-- center everything -->
    <div class="main" align="middle">
        <div class="topnav" id="myTopnav">
            <div align="center" height="100%">
                <h1>TL;DR CNBC</h1>
            </div> 
            <form action="/search" method="POST">
                <input type="search" id="search" name="search" placeholder="  Search ticker or keyword" autofocus>
                <input type="submit" value="Search">
            </form>
            <br>
        </div>
    
        <main>
            <!-- child template -->
            {% block content %}
            {% endblock %}
        </main>
    
    </div>
    <p style="padding-left:1%">Developed by <a href="https://www.linkedin.com/in/leopha/" target="_blank" rel="noopener noreferrer">Leo Phan</a></p>
</body>
</html>