<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/styles.css" rel="stylesheet" type="text/css" />
    <title>TL;DR CNBC</title>
</head>

<body>
    <!-- center everything -->
    <div class="main" align="middle">

        <div class="topnav" id="myTopnav">
            <div align="right" height="100%" padding-left="20%">
                <form action="/search" method="POST">
                    <input type="submit" value="Search">
                    <input type="search" id="search" name="search" placeholder="Search ticker or keyword" autofocus>
                </form>
            </div>
            <div align="center" height="100%">
                <h1>TL;DR CNBC</h1>
            </div>
        </div>

        <table style="width:100%">
            {%set items_per_row = items_per_row%}
            <tr>
            {%for i in range(0, articles|length, items_per_row) %}
                <tr>
                {%for j in range(i, i+items_per_row, 1) %}
                    <td>
                        <div class="sub_main" align="left">
                            {%if j < articles|length%} 
                                <div class="card {{articles[j]['sentiment']['Sentiment']}}" id="clickable-div">
                                        <span style="color: grey; font-size: 10px;">{{articles[j]['publish_timestamp']}}</span>
                                        <h3><a href="/article/{{articles[j]['_id']}}">{{articles[j]["title"]}} </a></h3>

                                        <p style="font-size:13px;">{{articles[j]['sentiment']['Sentiment']}}</p>
                                        
                                        {% for ticker in articles[j]['tickers'] %}
                                            <span style="font-style: italic; font-size: 13px;"><a href="/quote/{{ticker}}">{{ticker}}</a></span>,
                                        {% endfor %}

                                        <!-- <form action="/ticker/{{articles[j][" ticker"]}}" method="POST">
                                            <button type="submit" class="trade_button" value="TRADE">See more</button>
                                        </form> -->
                                </div>
                            {%endif%}
                        </div>
                    </td>
                {%endfor%}
            </tr>
            {%endfor%}
            <tr>
        </table>

        
    </div>
</body>

</html>